{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section p-3 p-lg-5 d-flex d-column">
  <div class="my-auto">
    <h2 class="mb-0"><span class="text-primary">{{ .Title }}</span></h2>
    {{ .Content }}
    {{ with .Params }}<p>Lien du site : <a href="{{ .link }}">{{ .link_name }}</a></p>{{ end }}
    {{ partial "techtags" . }}
  </div>
</section>
{{ end }}
