<div class="p0 m0 text-center">
  <p class="card-text">Scanner la carte de contact</p>
  <img id="qr-code" class="card-img-top" alt="Scannable QR code with contact info" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=MECARD%3AN%3A{{.Param "lastName"}}%2C{{.Param "firstName"}}%3B{{.Param "address"}}%3BTEL%3A{{.Param "phone"}}%3BEMAIL%3A{{.Param "email"}}%3BURL%3A{{.Site.BaseURL}}%3BNOTE%3A{{.Param "contactNote"}}%3B%3B"/>
</div>
